# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data (ignore raw & processed unless you want version control on small CSVs)
data/raw/*
data/processed/*

# Models & experiments
models/*
experiments/*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/